.search_box
{

}

.search_dates
{
    padding-top: 10px;
}

.panel-heading a
{
    text-decoration: none;
}

.panel-footer .footer_icon
{
    cursor: pointer;
}

.panel-footer .footer_icon:hover
{
    color: #8d8d8d;
}

.overlay
{
    background: #353535;
    opacity: 0.2;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

.loading_img
{
    position: absolute;
    z-index: 20;
}